html{
    font-family: century-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #797979;
    overflow: hidden;
    overflow-y: scroll;
}
/*Preloader*/
.loading-img {
    max-width: 500px;
    opacity: 0;
    animation: fadeIn 4s ease-in;
    animation-delay: 0.5s;
}
@media (max-width:450px) {
    .loading-img{
        max-width: 300px;
    }
}
.pre-loader {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: #797979;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    animation: slideup 1s 3.5s ease-in;
    animation-fill-mode: forwards;
}
@keyframes slideup {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-1000px);
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*Header*/
.header{
    width: 100%;
    height: 100vh;
}
nav.hide{
    width: 0;
}
nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    position: fixed;
    width: 270px;
    height: 100%;
    min-height: 350px;
    color: white;
    background: #0002;
    border-radius: 10px;
    transition: ease-in 0.3s;
    z-index: 2;
}
nav span{
    width: 100%;
    background: #0002;
    text-align: center;
    padding: 20px 0;
    font-size: 28px;
    font-weight: 800;
    overflow: hidden;
    border-radius: 10px;
}
nav span img{
    width: 100%;
}
.sidebar-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 80%;
    width: 100%;
    list-style: none;
    overflow: hidden;
}
.sidebar-menu li{
    background: #0002;
    padding-bottom: 1px;
    text-align: center;
    width: 100%;
}
.sidebar-menu li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 10px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: ease-in 0.3s;
    border-radius: 5px;
}
.sidebar-menu li a:hover{
    border: 1px solid white;
}
ul.sidebar-menu li ul{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    list-style: none;
    position: relative;
    top: 0;
    left: 37px;
    width: 200px;
    display: none;
}
ul.sidebar-menu li ul li{
    background: none;
    width: 100%;
}
ul.sidebar-menu li ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 10px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: ease-in 0.3s;
    border-radius: 5px;
}
ul.sidebar-menu li:hover > ul,
ul.sidebar-menu li:focus-within > ul{
    display: block;
}
#toggle-btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 18px;
    right: -39px;
    width: 40px;
    height: 40px;
    font-size: 18px;
    background: #0002;
    border-radius: 0 7px 7px 0;
    border: none;
    cursor: pointer;
    color: white;
    transition: linear 0.3s;
}
#toggle-btn:hover{
    background: rgba(0, 0, 0, 0.623);
}
@media (min-width:600px) {
    nav.hide{
        width: 0;
    }
}
@media (max-width:600px) {
    #toggle-btn{
        position: absolute;
        left: 0;
        top: 0;
    }
    .header{
        height: 100%;
        width: 100%;
    }
    .header nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: start;
        position: fixed;
        width: 100%;
        z-index: 2;
    }
    nav.hide{
        width: 0;
    }
    .sidebar-menu{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        height: 70%;
        width: 100%;
        list-style: none;
        overflow-y: scroll;
    }
    .sidebar-menu li{
        width: 100%;
        height: 7vh;
    }
    .sidebar-menu li a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    ul.sidebar-menu li ul{
        position: relative;
        top: 0;
        left: 23%;
        width: 200px;
        display: none;
    }
    ul.sidebar-menu li ul li{
        background: none;
        width: 100%;
    }
    ul.sidebar-menu li:hover > ul,
    ul.sidebar-menu li:focus-within > ul{
        display: block;
    }
    ul.sidebar-menu li ul li a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
/*Slider*/
.sliderImg{
    width: 100%;
    text-align: center;
    align-items: center;
}
.sliderImg img{
    width: 100%;
    height: 100vh;
    animation: zoom-out 5s linear infinite;
}
@media (max-width:650px) {
    .header,.sliderImg img{
        width: 100%;
        max-height: 100vh;
        animation: none;
    }
    .sliderImg h1{
        font-size: 14vw !important;
    }
    .sliderImg p{
        font-size: 6vw !important;
    }
}
.sliderImg h1{
    font-size: 8vw;
    position: absolute;
    color: aliceblue;
    text-shadow: 0.01em 0 black, 0 0.01em black, -0.01em 0 black, 0 -0.01em black;
    font-weight: 900;
    animation: fadeIn 1s ease-in;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sliderImg p{
    font-size: 2vw;
    color: aliceblue;
    position: absolute;
    text-shadow: 0.04em 0 black, 0 0.04em black, -0.04em 0 black, 0 -0.04em black;
    font-weight: 700;
    animation: fadeIn 1s ease-in;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes zoom-out{
    100%{
        width: 105%;
        height: 100vh;
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*Projects*/
.Projects{
    width: 100%;
    height: 100%;
    background: #797979;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.headline{
    color: aliceblue;
    font-size: 5vw;
    padding: 10px;
}
.explore a{
    text-decoration: none;
    color: aliceblue;
    font-size: 4vw;
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-box{
    width: 25vw;
    height: 50vw;
    margin: 10px;
    border-radius: 5px;
    position: relative;
    transition:all 0.5s;
}
.img-box h1{
    color:aliceblue;
    position: absolute;
    font-size: 4vw;
    top: 50%;
    opacity: 0;
    transition: opacity 1s;
}
@media only screen and (min-width: 700px) {

    .img-box:hover{
        width: 42vw;
        cursor: pointer;
        filter: brightness(75%);
    }
    .img-box:hover h1{
        filter: brightness(120%);
        opacity: 1;
    }
}
@media only screen and (max-width: 700px) {
    .headline{
        font-size: 8vw;
    }
    .explore a{
        font-size: 7vw;
    }
    .img-box{
        width: 27vw;
        transition: none;
    }
    .img-box h1{
        font-size: 3vw;
        opacity: 1;
    }
}
