*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #797979;
    overflow: hidden;
    overflow-y: scroll;
}
/*Preloader*/
.loading-img {
    max-width: 500px;
    opacity: 0;
    animation: fadeIn 4s ease-in;
    animation-delay: 0.5s;
}
@media (max-width:450px) {
    .loading-img{
        max-width: 300px;
    }
}
.pre-loader {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: #797979;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    animation: slideup 1s 3.5s ease-in;
    animation-fill-mode: forwards;
}
@keyframes slideup {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-1000px);
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*Header*/
.header{
    width: 100%;
    height: 100vh;
}
.side-nav{
    width: 100px;
    height: 350px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: width 0.2s;
    background: #0002;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    font-size: 12px;
    padding: 5px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}
.logo img{
    width: 50px;
    height: 30px;
}
.logo h2{
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
}
.side-nav ul{
    list-style: none;
    padding: 0 15px;
}
.side-nav ul li{
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    cursor: pointer;
}
.side-nav ul li img{
    width: 30px;
    margin-right: 0;
}
.side-nav ul li a{
    color: #343434;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    white-space: nowrap;
    display: none;
}
.side-nav:hover{
    width: 170px;
}
.side-nav:hover .logo{
    width: 100%;
    justify-content: flex-start;
}
.side-nav:hover .logo img{
    width: 100%;
}
.side-nav:hover .logo h2{
    display: block;
}
.side-nav:hover ul li{
    justify-content: flex-start;
}
.side-nav:hover ul li a{
    display: block;
}
.side-nav:hover ul li img{
    margin-right: 10px;
}
/*Slider*/
.sliderImg{
    width: 100%;
    text-align: center;
    align-items: center;
}
.sliderImg img{
    width: 100%;
    height: 100vh;
    animation: zoom-out 5s linear infinite;
}
@media (max-width:650px) {
    .side-nav{
        padding: 0;
        height: fit-content;
    }
    .side-nav:hover {
        width: 100%;
        height: 45%;
        background: #0002;
        backdrop-filter: blur(5px);
    }
    .side-nav:hover .logo{
        width: 170px;
    }
    .side-nav:hover ul{
        display: block;
        width: 100%;
        height: 100%;
    }
    .side-nav ul{
        display: none;
    }
    .header,.sliderImg img{
        width: 100%;
        max-height: 100vh;
        animation: none;
    }
    .sliderImg h1{
        font-size: 14vw !important;
    }
    .sliderImg p{
        font-size: 6vw !important;
    }
}
.sliderImg h1{
    font-size: 8vw;
    position: absolute;
    color: aliceblue;
    text-shadow: 0.01em 0 black, 0 0.01em black, -0.01em 0 black, 0 -0.01em black;
    font-weight: 900;
    animation: fadeIn 1s ease-in;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sliderImg p{
    font-size: 2vw;
    color: aliceblue;
    position: absolute;
    text-shadow: 0.04em 0 black, 0 0.04em black, -0.04em 0 black, 0 -0.04em black;
    font-weight: 700;
    animation: fadeIn 1s ease-in;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes zoom-out{
    100%{
        width: 105%;
        height: 100vh;
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*Projects*/
.Projects h1{
 font-size: 50px;
}